[submodule "pkg/datetime-fortran"]
	path = pkg/datetime-fortran
	url = https://github.com/wavebitscientific/datetime-fortran.git
[submodule "pkg/GSW-Fortran"]
	path = pkg/GSW-Fortran
	url = https://github.com/TEOS-10/GSW-Fortran.git
[submodule "pkg/geoKdTree"]
	path = pkg/geoKdTree
	url = https://github.com/travissluka/geoKdTree.git
[submodule "pkg/UMD-LETKF"]
	path = pkg/UMD-LETKF
	url = https://github.com/travissluka/UMD-LETKF.git
[submodule "pkg/godas-3dvar"]
	path = pkg/godas-3dvar
	url = https://github.com/UMD-AOSC/godas-3dvar.git
[submodule "pkg/MOM6-examples"]
	path = pkg/model/MOM6
	url = https://github.com/NOAA-GFDL/MOM6-examples.git
