[submodule "godas-3dvar"]
	path = src/3dvar
	url = git@github.com:UMD-AOSC/godas-3dvar.git
[submodule "MOM6"]
	path = src/MOM6
	url = https://github.com/NOAA-GFDL/MOM6-examples.git
[submodule "src/gsw/GSW-Fortran"]
	path = src/gsw/GSW-Fortran
	url = https://github.com/TEOS-10/GSW-Fortran.git
