#letkf_id    file_id    units  long description
#------------------------------------------------------------

# atmospheric observations
#"atm_ps",     1100,	"mb",	"surface pressure"
#"atm_t",      1210,	"K",	"temperature"
#"atm_q",      1220,	"g/g",	"specific humidity"
#"atm_u",      1250,	"m/s",	"zonal wind"
#"atm_v",      1251,	"m/s",	"meridional wind"

# ocean observations
"ocn_sst",    2110,	"?",	"sea surface temperature"
"ocn_t",      2210,	"C",	"ocean potential temperature"
"ocn_s",      2220,	"PSU",	"ocean salinity"

#"ocn_ssh",    2100,	"?",	"sea surface height"
#"ocn_sss",    2120,	"?",	"sea surface salinity"
#"ocn_u",      2250,	"m/s",	"ocean zonal current"
#"ocn_v",      2251,	"m/s",	"ocean meridional currents"
